<div class="popup">
  <!-- <div *ngIf="successStatus" class="alert alert-success" role="alert">
    {{ message }}
    <i class="fa fa-times-circle" (click)="closeStatus()" aria-hidden="true"></i>
    <a class="btn btn-primary" routerLink="/login">Go To Login Page</a>
  </div>

  <div *ngIf="dangerStatus" class="alert alert-danger" role="alert">
    {{ message }}
    <i class="fa fa-times-circle" (click)="closeStatus()" aria-hidden="true"></i>
    <a class="btn btn-primary" routerLink="/login">Go To Login Page</a>
  </div> -->

  <form #form="ngForm" (submit)="AddProject(form.value)">
    <table class="table table-hover ">
      <!-- style="overflow-y: scroll;" -->
      <thead class="thead-dark">
        <tr>
          <th scope="col">Text</th>
          <th scope="col">Value</th>
          <th scope="col">Display Order</th>
          <th scope="col">Active Status</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody *ngIf="listOfPopup?.length != 0">
        <tr *ngFor="let popup of listOfPopup; let i=index">
          <td>{{ popup.AttributeValue }}</td>
          <td>{{ popup.Value }}</td>
          <td>{{ popup.SortOrder }}</td>
          <td>
            <!-- {{ popup.IsActive }} -->


            <div *ngIf="popup.IsActive; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>Yes</ng-template>
            <ng-template #elseBlock>No</ng-template>



          </td>
          <td>
            <input type="hidden" #AttributeName="ngModel" [(ngModel)]="popup.AttributeName" name="AttributeName" id="AttributeName">

            <!-- <input type="hidden" #Description="ngModel" [(ngModel)]="popup.Description" name="Description" id="Description">
              <input type="hidden" #Id="ngModel" [(ngModel)]="popup.Id" name="Id" id="Id"> -->
            <input type="hidden" #ObjectTypeCode="ngModel" [(ngModel)]="popup.ObjectTypeCode" name="ObjectTypeCode" id="ObjectTypeCode">

            <button type="button" class="btn btn-primary"
              (click)="UpDate(popup.Value,popup.AttributeValue,popup.AttributeName,popup.SortOrder,popup.Description,popup.IsActive,popup.Id,popup.ObjectTypeCode)">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Add New</button>
    <!-- <button type="submit" class="btn btn-primary" style="margin-left: 10px;">Update</button> -->
    <button type="button" class="btn btn-danger" (click)="close()" style="margin-left: 10px;"><i class="fa fa-close"></i> Close</button>
  </form>
</div>