<body>
  <div id="wrapper_1">
    <div id="wrapper_3">
      <ul class="a">
        <li><strong>Name</strong> </li><br>
        <li><strong>Login Id</strong></li><br>
        <li><strong>Emp Code</strong></li><br>
        <li><strong>Date Of Joining</strong></li><br>
        <li><strong>Date of Confirmation</strong></li><br>
        <li><strong>Division</strong></li><br>

        <li><strong>Department</strong></li><br>
        <li><strong>Designation</strong></li><br>       
         <li><strong>Grade</strong></li><br>        
         <li><strong>E-mail</strong></li><br>       
          <li><strong>Highest Qualification</strong></li><br>       
          <li><strong>Total Experience</strong></li><br>       
          <li><strong>Experience with (Yrs)</strong></li><br>       
          <li><strong>Martial Status</strong></li><br>       
          <li><strong>Gender</strong></li><br>       
         <li><strong>Aadhar Card Number</strong></li><br>        
          <li><strong>PAN # </strong></li><br>       
           <li><strong>UAN #</strong></li><br>      

           <li><strong>PF #</strong></li><br>       
          <li><strong>Bank Account #</strong></li><br>
       


      </ul>
    </div>
    <div id="wrapper_4">
      <ul class="a">
      <li> </li><br>
        <li></li><br>
        <li></li><br>
        <li></li><br>
        <li></li><br>
        <li></li><br>
        <li></li><br>
        <li></li><br>
        <li></li><br><br>


        <li>IT Consultancy</li><br>
        <li>IT Consultancy</li><br>
        <li>Technical Lead</li><br>
        <li></li><br>
        <li></li><br><br><br>
        <li>MBA</li><br>
        <li>9.3</li><br>
        <li></li><br><br>
        <li>Single</li><br>
        <li>Male</li><br>
        <li></li><br>
        <li></li><br>
        <li></li><br>
        <li></li><br>
        <li></li><br>



      </ul>

    </div>



  
</div>

<div id="wrapper_2">
  <div id="wrapper_3">
    <ul class="a">
      <li><strong>Current Contact Details</strong></li><br>
      <li><strong>Permanent Contact Details</strong></li><br>
      <li><strong>Emergency Contact Details</strong></li><br>

    </ul>

  </div>
  <div id="wrapper_4">
    <ul class="b">
    <li>Number:<br>
      Address
    </li>
    <li></li>
    <li></li>
    </ul>

  </div>
</div>
     
</body>