body{
    margin: 0px;
    padding: 0px;
  }
#wrapper_1 {
  background-color: rgb(252,248,245);
  height: 1000px;
  float: left;
  width: 50%;
}

#wrapper_3 {
  background-color: rgb(252,248,245);
  height: 1000px;
  float: left;
  width: 50%;
}

#wrapper_4 {
  background-color: rgb(252,248,245);
  height: 1000px;
  float: left;
  width: 50%;
}
#wrapper_1:after {
  content: "";
  background-color: rgb(129,103,91);
  position: absolute;
  width: 2px;
  height: 1000px;
  top: 10px;
  left: 48%;
  display: block;
}
#wrapper_2 {
  background-color: rgb(252,248,245);
  height: 1000px;
  width: 50%;
  float: right;
}
ul.a {
  list-style-type: none;
    list-style-position: outside;
    /*word-spacing: 10px;*/

}
ul.b {
    list-style-type: none;
      list-style-position: outside;
      /*word-spacing: 10px;*/
      left: 30px;
}  
li{
color: rgb(113,55,29);

}

