<div *ngIf="successStatus" class="alert alert-success" role="alert">
  {{ message }}
  <i class="fa fa-times-circle" (click)="closeStatus()"  aria-hidden="true"></i>
   <!-- <a class="btn btn-primary" routerLink="/login">Go To Login Page</a> -->
</div>

<div *ngIf="dangerStatus" class="alert alert-danger" role="alert">
  {{ message }}
  <i class="fa fa-times-circle" (click)="closeStatus()"  aria-hidden="true"></i>
   <!-- <a class="btn btn-primary" routerLink="/login">Go To Login Page</a> -->
</div>


<div class="col">
  <div class="row my-row">
    <div class="col my-col">
      <ul class="breadcrumb" style="background-color: transparent;">
        <li class="breadcrumb-item ">
          <span class="icon">
            <i class="fa fa-briefcase"></i></span>
          <span class="heading" style="color: black; background-color: transparent;">Reward Skip
          </span></li>

      </ul>
    </div>
    <div class="col my-col">
      <div class="a">
        <ul class="breadcrumb" style="background-color: transparent;">
          <li class="breadcrumb-item"><a routerLink="/dashboard">
              <i class="fa fa-home"></i> Home</a></li>
          <li class="breadcrumb-item"><a routerLink="/dashboard/rewardskip">Reward Skip</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row my-row">
    <div class="col my-col1">
    
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Reward Skip
  </div>
  <div class="card-body">
<!----Main code-->

<!-- <div class="container my-container"> -->

  <div class="row my-row">
    <div class="col my-col">
      <!-- <div class="mycontent-left"> -->


        <form #form="ngForm" (submit)="Search(form.value)">
          <div class="form-inline">

            Product name  <i class="fa fa-question-circle" style="color: rgb(23, 163, 184);"></i>


            <div class="search-div">
            <input type="text" #search="ngModel" [(ngModel)]="search.search"  id="search" name="search"  class="search-box">
            <button type="submit" class="btn btn-info"><i class="fa fa-search"></i>  Search</button>
          </div>
          </div>
      </form><br><br>
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
        <thead>
          <tr class="table-header">
            <th scope="col">Product Name</th>
            <th scope="col">Published</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rewardLists of rewardListForPobara">
            <td width="80%">{{rewardLists.Name}}</td>
            <td>
              <div *ngIf="rewardLists.Published; then thenBlock else elseBlock"></div>
              <ng-template #thenBlock><i class="fa fa-check" aria-hidden="true" style="color: green; font-size: 30px;"></i></ng-template>
              <ng-template #elseBlock><i class="fa fa-times" aria-hidden="true" style="color: red; font-size: 30px;"></i></ng-template>
            </td>
            <!-- <td ><span class="add"><i class="fa fa-file-o" aria-hidden="true"> Add </i> -->
              <td width="10%"><button type="button" (click)="AddProduct(rewardLists.Id,rewardLists.Name)" class="btn btn-info"> Add</button>
              </td>
          </tr>



        </tbody>
      </table>
      </div>
     
     
    </div>
    <div id="vertical-line"></div>
    <div class="col my-col">
      <div class="mycontent-right">
      
      <p>Delete</p><br><br>
      <div class="table-responsive">

      <table class="table table-striped table-bordered">
        <thead>
          <tr class="table-header">
            <th scope="col">Product Name</th>
            <th scope="col">Active</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rewardLists of rewardListForHRMS; let i = index">
            <td width="80%" >{{rewardLists.Name}}</td>
            <td><input type="checkbox" id="defaultCheck" name="IsActive" (change)="updateTheStatus($event,rewardLists.ProductId,i)" [checked]="rewardLists.IsActive"></td>
            <td width="10%"><button type="button" (click)="DeleteProduct(rewardLists.ProductId)" class="btn btn-danger"> Delete</button>
            </td>
          </tr>

        </tbody>
      </table>
      </div>
    </div>
</div>
  </div>
  
<!-- </div> -->
</div>
</div>

<!---main code ends-->