<div class="col">
  <div class="row my-row" >
    <div class="col my-col">
       <ul class="breadcrumb" style="background-color: transparent;">
        <li class="breadcrumb-item " >
            <span class="icon">
            <i class="fa fa-briefcase"></i></span>  
            <span class="heading" style="color: black; background-color: transparent;">New Employee</span></li>
           
      </ul>
    </div>
<div class="col my-col">
  <div class="a">
      <ul class="breadcrumb" style="background-color: transparent;">
        <li class="breadcrumb-item"><a routerLink="/dashboard">
          <i class="fa fa-home"></i> Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/dashboard/employer/save">New Employee</a></li>
        <li class="breadcrumb-item"><a routerLink="/dashboard/employer/list"> Employee List</a></li>

      </ul>
  </div>
</div>
  </div> 
  <div class="row my-row">
    <div class="col my-col1">
    Add Employee Record
  </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Add Employee<span style="float: right;"><a routerLink="/dashboard/employer/list" ><i class="fa fa-plus-circle" ></i> Employee List</a></span>
  </div>
  <div class="card-body">
    <form  #form="ngForm" (submit)="onSubmit(form.value)" class="was-validated">  
      <div class="form-row">
        <div class="form-group col-md-4">

        <label for="legalName">Legal Name</label>
        <input type="text" class="form-control"  #LegalName="ngModel" [(ngModel)]="Employer.LegalName" name="LegalName"  id="LegalName" maxlength="200"  required>
        <div class="invalid-feedback" *ngIf="LegalName.touched && LegalName.invalid">
          LegalName is required.
        </div>

       </div>

       <div class="form-group col-md-4">

        <label for="TradeName">Trade Name</label>
        <input type="text" class="form-control" #TradeName="ngModel" [(ngModel)]="Employer.TradeName" name="TradeName"  id="TradeName" maxlength="200"  required>
        <div class="invalid-feedback" *ngIf="TradeName.touched && TradeName.invalid">
          TradeName is required.
        </div>

       </div>
       <div class="form-group col-md-4">

        <label for="pathLogo">Path Logo</label>
        <input type="text" class="form-control" #PathLogo="ngModel" [(ngModel)]="Employer.PathLogo" name="Employer"  id="Employer" maxlength="200"  required>
        <div class="invalid-feedback" *ngIf="PathLogo.touched && PathLogo.invalid">
          PathLogo is required.
        </div>

      </div>


        </div>
        <button type="submit"   class="btn btn-primary">Save</button>

        </form>
        </div>