mat-sidenav-conatiner {
    height: 100%;
    background-color: rgb(236,236,236);
}

mat-sidenav, mat-sidenav-content {
    padding: 16px;
}

mat-sidenav {
    background-color: lightcoral;
    width: 200px;;
}