mat-sidenav-conatiner {
    height: 100%;
    background-color: rgb(236,236,236);
}

mat-sidenav, mat-sidenav-content {
    padding: 16px;
}

mat-sidenav {
    background-color: lightcoral;
    width: 200px;;
}

.a1{
    display: none;
    margin: 0px;
    padding: 0px;
}

.main-nav-ul li:hover ul {
    display: block;
}

.main-nav .sub-arrow:after {
    content: '\203A';
    float: right;
}

a {
    text-decoration: none;
}