<mat-sidenav-container>
    <mat-sidenav mode="top" [(opened)]="opened">Sidenav</mat-sidenav>
    <mat-sidenav-content>SIDEBAR<br><br>
    <div class="main-nav">
        <ul class="main-nav-ul">

            <li><mat-icon aria-hidden="false" aria-label="Example home icon">home
                <a href="">HOME</a></mat-icon></li>
            
            <hr>
            <li><a href="">Masters</a></li>
            <hr>
            <li>
                <mat-icon>
                    <a routerLink="/dashboard/employee/details">accessibility EMPLOYEE</a>
                </mat-icon><br><br>
                <ul class="a1">
                    <li style="padding-left: 150px;"><a href="#" style="color: brown;">ITEM1</a></li><hr>
                    <li style="padding-left: 150px;"><a href="#">ITEM1</a></li><hr>
                    <li style="padding-left: 150px;"><a href="#">ITEM1</a></li><hr>


                </ul>
            </li>
            <hr>
            <li><a href="">Leave</a>
                <ul class="a1">
                    <li style="padding-left: 150px;"><a href="#" style="color: brown;">ITEM1</a></li><hr>
                    <li style="padding-left: 150px;"><a href="#">ITEM1</a></li><hr>
                    <li style="padding-left: 150px;"><a href="#">ITEM1</a></li><hr>


                </ul>
                
            
            
            
            
            </li>
            <hr>
            <li><a href="">Travel</a></li>
            <hr>
            <li><a href="">Asset</a></li>
            <hr>
            <li><a href="">Company</a></li>
            <hr>
            <li><a href="">Performance</a></li>
            <hr>
           

              

         </ul>
         </div>
          
        <!--<button (click)="opened=!opened">opened</button>-->
    </mat-sidenav-content>
</mat-sidenav-container>