<div class="wrapper">
    <nav  id="sidebar">
        <!--<div class="sidebar-header">
            <h3>Bootstrap</h3>
        </div>-->


        <ul class="list-unstyled components">
            <p>CORE</p>
            <!--<li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">HOME</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">home</a>
                    </li>
                    <li>
                        <a href="#">home1</a>
                    </li>
                    <li>
                        <a href="#">home3</a>
                    </li>
                </ul>
            </li>-->
            <li>
                <a href="#"><span class="material-icons">
                    account_circle DASHBOARD
                    </span></a>
            </li>
            <hr>
            <p>INTERFACE</p>
            <li>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="material-icons">
                    accessibility
                    </span>EMPLOPYEE</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a routerLink="/dashboard/employee/details" style="color:rgb(127,131,135);">Emplopyee Details</a>
                    </li>
                    <li>
                        <a href="#" style="color:rgb(127,131,135);">Emplopyee List</a>
                    </li>
                    <hr>
                </ul>
                <hr>
            </li>
            <p>INTERFACE</p>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="material-icons">
                    assignment PAGES
                    </span></a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#" style="color:rgb(127,131,135);">Authentication</a>
                    </li>
                    <li>
                        <a href="#" style="color:rgb(127,131,135);">Error</a>
                    </li>
                    <hr>
                </ul>
                <hr>
            </li>
            <p>ADDONS</p>
            <li>
                <a href="#">Charts</a>
            </li>
            <li>
                <a href="#">Tables</a>
            </li>
        </ul>
        <!--<ul class="list-unstyled CTAs">
            <li>
                <a href="#" class="download">Download code</a>
            </li>
            <li>
                <a href="#" class="article">article</a>
            </li>
        </ul>-->
    </nav>
   
    


 </div>

 