<div class="col">
  <div class="row my-row">
    <div class="col my-col">
      <ul class="breadcrumb" style="background-color: transparent;">
        <li class="breadcrumb-item ">
          <span class="icon">
            <i class="fa fa-clock-o"></i></span>
          <span class="heading" style="color: black; background-color: transparent;">Add Attendance</span></li>

      </ul>
    </div>
    <div class="col my-col">
      <div class="a">
        <ul class="breadcrumb" style="background-color: transparent;">
          <li class="breadcrumb-item"><a routerLink="/dashboard">
              <i class="fa fa-home"></i> Home</a></li>
          <li class="breadcrumb-item"><a routerLink="/dashboard/addattendance">Add Attendance</a></li>
          <li class="breadcrumb-item"><a routerLink="/dashboard/myattendance">My Attendance</a></li>

        </ul>
      </div>
    </div>
  </div>
  <div class="row my-row">
    <div class="col my-col1">
      <!-- Add Attendance Record -->
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Add Attendance
  </div>
  <div class="card-body">

      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="date">Date</label>
          <div class="form-group">
            <input type="date" max="12-31-3000" (change)="getUserForAttendanceByDate($event.target.value)" name="date" id="date" min="01-01-1000" class="form-control">
          </div>
        </div>
      </div><br>

      

      <div *ngIf="showStatus" style="overflow-x: scroll;">

        <input type="text" class="form-control" [(ngModel)]="email" placeholder="Serach any fields"/>
      <br>
   
         
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Employee Name/Id</th>
                <th scope="col">Attendance</th>
                <th scope="col">In Time</th>
                <th scope="col">Out Time</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody *ngIf="Addattendance?.length != 0">
              <tr *ngFor="let addAttendances of Addattendance | addAttendanceSearch:email; let i = index">

                <td>{{ addAttendances.Name }}</td>


                <td>

                  <select class="custom-select"  name="Status" id="Status"  id="selectEntity">
                    <option *ngFor="let dropdownLists of dropdownList" [value]="dropdownLists.Value">{{dropdownLists.Text}}</option>
                  </select>


                  <!-- <select class="custom-select" id="Attendance" value={{addAttendances.Status}} (change)="Statuschange($event.target.value,i)">
                    <option selected>Select Status</option>
                    <option value="1">Present</option>
                    <option value="2">Half Day</option>
                    <option value="3">Leave</option>
                    <option value="4">Absent</option>
                  </select> -->


                </td>

                <td>
                  <input type="time" [value]="addAttendances.InTime" class="form-control" name="InTime" id="InTime">
                  <!-- <div class="invalid-feedback" *ngIf="InTime.touched && InTime.invalid">
                    In Time Is Required.
                  </div> -->
                </td>
                <td>
                  <input type="time" [value]="addAttendances.OutTime" class="form-control" name="OutTime" id="OutTime">
                  <!-- <div class="invalid-feedback" *ngIf="InTime.touched && InTime.invalid">
                    Out Time Is Required.
                  </div> -->
                </td>



                <td *ngIf="addAttendances.Action==1">
                  <input type="hidden" class="form-control" [value]="addAttendances.EmployeeId" [(ngModel)]="EmployeeId" name="EmployeeId" id="EmployeeId">  
                  <button type="submit"  class="btn btn-primary">Save</button>
                </td>

                <td *ngIf="addAttendances.Action==2">
                  <input type="hidden" class="form-control" [value]="addAttendances.EmployeeId" [(ngModel)]="EmployeeId" name="EmployeeId" id="EmployeeId">  
                  <button type="submit" class="btn btn-primary">Update</button>
                </td>

              </tr>
            </tbody>
          </table>
       
      </div><br>
      <button type="button" (click)="Save()" class="btn btn-primary">Save</button>
      <button type="submit" class="btn btn-primary" style="margin-left: 15px;">Submit</button>

  </div>
</div>
