<nav>
  <div class="nav-wrapper">
    <button type="button" (click)="toggleSideBar()">     <!--1-->
      <span class="navbar-toggler-icon"></span>          <!--2-->
    </button>    
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a href="">Employee</a></li>
      <li><a href="">Welcome</a></li>
    </ul>
  </div>
</nav>
      

                        
   <!--3-->  <!--these 3 are important line for toggle the sidevar-->







    
     
     

  
   