<div class="popup">
  <form #form="ngForm" (submit)="onSubmit(form.value)" class="was-validated">
    <div class="form-group">
      <label for="reasonForRejecting">Reason For Rejecting</label>
      <textarea class="form-control" #reasonForRejecting="ngModel" [(ngModel)]="Reject.reasonForRejecting" name="reasonForRejecting"   id="reasonForRejecting" rows="3"  required></textarea>
      <div class="invalid-feedback" *ngIf="reasonForRejecting.touched && reasonForRejecting.invalid">
        Please state the reason.
      </div>
    </div>

    <button  class="btn btn-primary" [disabled]="!form.valid" type="submit">Submit</button>

  <button type="button" class="btn btn-outline-dark ml-2" (click)="close()" ><i class="fa fa-close"></i> Close</button>
  </form>
</div>
