<div class="popup">
<div class="card-body">
  <h3>New Shift Timing</h3>
  <form #form="ngForm" (submit)="onSubmit(form.value)" class="was-validated">
    <div class="form-row">

      <div class="form-group col-md-6">
        <label for="StartTime">Started</label>
        <input type="time" class="form-control" #StartTime="ngModel" [(ngModel)]="MyShifts.StartTime" name="StartTime" id="StartTime" required>
        <div class="invalid-feedback" *ngIf="StartTime.touched && StartTime.invalid">
          Started Is Required.
        </div>
      </div>

      <div class="form-group col-md-6">
        <label for="EndTime">Ended</label>
        <input type="time" class="form-control" #EndTime="ngModel" [(ngModel)]="MyShifts.EndTime" name="EndTime" id="EndTime" required>
        <div class="invalid-feedback" *ngIf="EndTime.touched && EndTime.invalid">
          Ended Is Required.
        </div>
      </div>

      <div class="form-group col-md-6">
        <label for="ApprovalPerson">ApprovedBy</label>
        <select class="custom-select" #ApprovalPerson="ngModel" [(ngModel)]="MyShifts.ApprovalPerson" name="ApprovalPerson" id="ApprovalPerson"  id="selectApprovedBy">
          <option>Select any option</option>

          <option *ngFor="let dropdownLists of dropdownList" [value]="dropdownLists.Id">{{dropdownLists.Name}}</option>
        </select>
        <div class="invalid-feedback" *ngIf="ApprovalPerson.touched && ApprovalPerson.invalid">
          ApprovedBy Is Required.
        </div>
      </div>

    </div>

    <button type="submit" class="btn btn-primary">Save</button>

    <button type="button" class="btn btn-outline-dark ml-2" (click)="close()" ><i class="fa fa-close"></i> Close</button>

  </form>

</div>
</div>
