<div class="col">
  <div class="row my-row" >
    <div class="col my-col">
       <ul class="breadcrumb" style="background-color: transparent;">
        <li class="breadcrumb-item " >
            <span class="icon">
            <i class="fa fa-briefcase"></i></span>  
            <span class="heading" style="color: black; background-color: transparent;">Employee List</span></li>
           
      </ul>
    </div>
<div class="col my-col">
  <div class="a">
      <ul class="breadcrumb" style="background-color: transparent;">
        <li class="breadcrumb-item"><a routerLink="/dashboard">
          <i class="fa fa-home"></i> Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/dashboard/employer/list">Employee List</a></li>
        <li class="breadcrumb-item"><a routerLink="/dashboard/employer/save">New Employer</a></li>

      </ul>
  </div>
</div>
  </div> 
  <div class="row my-row">
    <div class="col my-col1">
    Employee List Record
  </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Employee List <span style="float: right;"><a routerLink="/dashboard/employer/save" ><i class="fa fa-plus-circle" ></i> New Employee</a></span>
  </div>
  <div class="card-body" style="overflow-x: scroll;">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Legal Name</th>
          <th scope="col">Trade Name</th>
          <th scope="col">Logo Path</th>
         



        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
         
          
        </tr>
        
       
      </tbody>
    </table>
    </div>
    </div>
