<div class="col">
  <div class="row my-row" >
    <div class="col my-col">
       <ul class="breadcrumb" style="background-color: transparent;">
        <li class="breadcrumb-item " >
            <span class="icon">
            <i class="fa fa-briefcase"></i></span>
            <span class="heading" style="color: black; background-color: transparent;"> Project List</span></li>

      </ul>
    </div>
<div class="col my-col">
  <div class="a">
      <ul class="breadcrumb" style="background-color: transparent;">
        <li class="breadcrumb-item"><a routerLink="/dashboard">
          <i class="fa fa-home"></i> Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/dashboard/project/list"> Project List</a></li>
        <li class="breadcrumb-item"><a routerLink="/dashboard/project/save"> Add Project</a></li>

      </ul>
  </div>
</div>
  </div>
  <div class="row my-row">
    <div class="col my-col1">
     <!-- Project Record -->
  </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Project List <span style="float: right;"><a routerLink="/dashboard/project/save" ><i class="fa fa-plus-circle" ></i> New Project</a></span>
  </div>
  <div class="card-body" style="overflow-x: scroll;">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Short Desc</th>
          <th scope="col">Attribute Name</th>
          <th scope="col">Period Start</th>
          <th scope="col">Period End</th>
          <th scope="col">Primary Manager Id</th>
          <th scope="col">Delivery Manager Id</th>
          <th scope="col">Details</th>
          <th scope="col">Created On</th>
          <th scope="col">Created By</th>
          <th scope="col">Last Modified On</th>



        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

        </tr>


      </tbody>
    </table>
    </div>
    </div>
