<div class="popup">
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Text</th>
      <th scope="col" >Value</th>
      <th scope="col">Display Order</th>
      <th scope="col">Active Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Male</td>
      <td>1</td>
      <td>1</td>
      <td><input type="checkbox" value="" checked></td>
    </tr>
   
    
  </tbody>
</table>
<button type="button" class="btn btn-primary" (click)="AddProject()">Add New</button>
<button type="button" class="btn btn-primary" style="margin-left: 10px;">Update</button>
<button type="button" class="btn btn-primary" (click)="close()" style="margin-left: 10px;"><i class="fa fa-close"></i> Close</button>


</div>