<div class="popup">
  <form #form="ngForm" (submit)="onSubmit(form.value)">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Text</th>
          <th scope="col" >Value</th>
          <th scope="col">Display Order</th>
          <th scope="col">Active Status</th>
          <th scope="col">UpDate</th>
        </tr>
      </thead>
      <tbody *ngIf="listOfPopup?.length != 0">
        <tr *ngFor="let popup of listOfPopup; let i=index">
          <td>
            {{popup.AttributeValue}}
          </td>

          <td>
            {{popup.Value}}
          </td>

          <td>
            {{popup.SortOrder}}
          </td>

            <td>
              {{popup.IsActive}}
            </td>
            <td>
              <button type="button" class="btn btn-primary" (click)="UpDate(popup.Value,popup.AttributeValue,popup.AttributeName,popup.SortOrder,popup.Description,popup.IsActive)">Add New</button>
            </td>
        </tr>
    
      </tbody>
    </table>
    <button type="button" class="btn btn-primary" (click)="AddProject()">Add New</button>
    <button type="submit" class="btn btn-primary" style="margin-left: 10px;">Update</button>
    <button type="button" class="btn btn-primary" (click)="close()" style="margin-left: 10px;"><i class="fa fa-close"></i> Close</button>
  </form>
</div>