<div class="popup">
  <form #form="ngForm" (submit)="onSubmit(form.value)">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Text</th>
          <th scope="col" >Value</th>
          <th scope="col">Display Order</th>
          <th scope="col">Active Status</th>
        </tr>
      </thead>
      <tbody *ngIf="listOfPopup?.length != 0">
        <tr *ngFor="let popup of listOfPopup; let i=index">
          <td>
            <div class="input-group">
              <input value="{{popup.AttributeValue}}" (input)="onAttribute($event.target.value,i)" name="AttributeValue" id="AttributeValue"  type="text" class="form-control">                 
              <!-- <input value="{{popup.AttributeValue}}" #AttributeValue="ngModel" [(ngModel)]="popup.AttributeValue" id="AttributeValue" name="AttributeValue" id="Value" type="text" class="form-control">                  -->
       
            </div>
          </td>

          <td>
            <div class="input-group">
              <input value="{{popup.Value}}" name="Value" id="Value" type="number" class="form-control" placeholder="0.0" step="0.01" min="0" max="10" >                 
              <!-- <input value="{{popup.Value}}" #Value="ngModel" [(ngModel)]="popup.Value" name="Value" id="Value" type="number" class="form-control" placeholder="0.0" step="0.01" min="0" max="10" >                  -->
              
            </div>
          </td>

          <td>
            <div class="input-group">
              <input value="{{popup.SortOrder}}" name="SortOrder" id="SortOrder" type="number" class="form-control">                 
              <!-- <input value="{{popup.SortOrder}}" #SortOrder="ngModel" [(ngModel)]="popup.SortOrder" name="SortOrder" id="SortOrder" type="number" class="form-control" placeholder="0.0" step="0.01" min="0" max="10" >                  -->
            
            </div>
          </td>

            <td>
              <div class="input-group">
                <input type="checkbox" value="{{popup.Status}}" name="Status" id="Status">
                <!-- <input type="checkbox" #Status="ngModel" [(ngModel)]="popup.Status" name="Status" id="Status"> -->
              </div>
            </td>
        </tr>
    
      </tbody>
    </table>
    <button type="button" class="btn btn-primary" (click)="AddProject()">Add New</button>
    <button type="submit" class="btn btn-primary" style="margin-left: 10px;">Update</button>
    <button type="button" class="btn btn-primary" (click)="close()" style="margin-left: 10px;"><i class="fa fa-close"></i> Close</button>
  </form>
</div>