<div class="col">
  <div class="row my-row" >
    <div class="col my-col">
       <ul class="breadcrumb" style="background-color: transparent;">
        <li class="breadcrumb-item " >
            <span class="icon">
            <i class="fa fa-circle-o-notch"></i></span>
            <span class="heading" style="color: black; background-color: transparent;"> Shift Timing</span></li>

      </ul>
    </div>
<div class="col my-col">
  <div class="a">
      <ul class="breadcrumb" style="background-color: transparent;">
        <li class="breadcrumb-item"><a routerLink="/dashboard">
          <i class="fa fa-home"></i> Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/dashboard/shift"> Shift Timing</a></li>
        <!-- <li class="breadcrumb-item"><a routerLink="/dashboard/shifttiming/requestnewshifttiming"> Request New Shift Timing</a></li> -->


      </ul>
  </div>
</div>
  </div>
  <div class="row my-row">
    <div class="col my-col1">
     <!-- Report Record -->
  </div>
  </div>
</div>


<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="myShift-tab" data-toggle="pill" href="#myShift" role="tab" aria-controls="myShift" (click)="getTheDataOfMyShift()" aria-selected="true">My Shifts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="Awaiting-tab" data-toggle="pill" href="#Awaiting" role="tab" aria-controls="Awaiting" (click)="getTheDataOfMyApproval(2)" aria-selected="false">Awaiting My Approval</a>
  </li>
</ul>


<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="myShift" role="tabpanel" aria-labelledby="myShift-tab">

    <div class="card">
      <div class="card-header">
        My Shifts
        <span (click)="ShiftPopup()" style="float: right; cursor: pointer;"><i class="fa fa-plus-circle" ></i>  Request New Shift Timing</span>

      </div>
      <div class="card-body" style="overflow-x: scroll;">
        <!-- <input type="text" class="form-control" [(ngModel)]="email" placeholder="Serach any fields"/> -->
        <div class="form-group col-md-4">

          <select class="custom-select" [value]="pendingValue"(change)="getListOfShift($event.target.value)">
            <option *ngFor="let dropdownLists of dropDownListOfShiftStatus" [value]="dropdownLists.Value">{{dropdownLists.Text}}</option>
          </select>

        </div>

        <table class="table table-bordered">
          <thead>
            <tr style="cursor: pointer;">
              <th scope="col" (click)="sortFilter(1)">Started <i class={{sortIcon1}} aria-hidden="true"></i> </th>
              <th scope="col" (click)="sortFilter(2)">Ended <i class={{sortIcon2}} aria-hidden="true"></i> </th>
              <th scope="col" (click)="sortFilter(3)">Requested On <i class={{sortIcon3}} aria-hidden="true"></i> </th>
              <th scope="col" (click)="sortFilter(4)" >Status <i class={{sortIcon4}} aria-hidden="true"></i> </th>
              <th scope="col" (click)="sortFilter(5)">Approving Person <i class={{sortIcon5}} aria-hidden="true"></i> </th>
              <th scope="col" (click)="sortFilter(6)">Approved By <i class={{sortIcon6}} aria-hidden="true"></i> </th>


            </tr>
           </thead>
           <tbody *ngIf="MyShiftList?.length!= 0">
            <tr *ngFor="let MyShiftLists of MyShiftList; let i = index">
              <td>{{ MyShiftLists.StartTime }}</td>
              <td>{{ MyShiftLists.EndTime }}</td>
              <td>{{ MyShiftLists.CreatedOn }}</td>
              <td>{{ MyShiftLists.AprovingStatus }}</td>
              <td>{{ MyShiftLists.ApprovalPerson }}</td>
              <td>{{ MyShiftLists.ApprovedBy }}</td>
            </tr>

          </tbody>
          <tbody  *ngIf="length==0">
            <tr>
              <td colspan="6" class="no-data-available">No matching records found</td>
            </tr>
          <tbody>
        </table>

      </div>
      </div>


  </div>


  <div class="tab-pane fade" id="Awaiting" role="tabpanel" aria-labelledby="Awaiting-tab">


    <div class="card">
      <div class="card-header">
        Awaiting My Approval

      </div>
      <div class="card-body" style="overflow-x: scroll;">

        <div class="form-group col-md-4">
          <select class="custom-select" [value]="pendingValue"(change)="getTheDataOfMyApproval($event.target.value)">
            <option *ngFor="let dropdownLists of dropDownListOfShiftStatus" [value]="dropdownLists.Value">{{dropdownLists.Text}}</option>
          </select>
        </div>

        <table class="table table-bordered">
          <thead>
            <tr style="cursor: pointer;">
              <th scope="col">Employee</th>
              <th scope="col">Started</th>
              <th scope="col">Ended</th>
              <th scope="col">Requested On</th>
              <th scope="col">Status</th>
              <th scope="col">Approving Person</th>
              <th scope="col">Action</th>


            </tr>
           </thead>

           <tbody *ngIf="MyApprovalList?.length != 0">
            <tr *ngFor="let MyApprovalLists of MyApprovalList">
              <td>{{ MyApprovalLists.Employee.Name }}</td>
              <td>{{ MyApprovalLists.StartTime }}</td>
              <td>{{ MyApprovalLists.EndTime }}</td>
              <td>{{ MyApprovalLists.CreatedOn}}</td>
              <td>{{ MyApprovalLists.AprovingStatus.Text }}</td>
              <td>{{ MyApprovalLists.ApprovalPerson.Name }}</td>
              <!-- <td><a style="color: green; cursor: pointer;" (click)="ApproveTimeShift(MyApprovalLists.Id)">Approve</a> / <a (click)=" RejectPopup()" style="float: right; cursor: pointer; padding-left: -1000px;"><a style="color: red; cursor: pointer;" (click)="RejectTimeShift(MyApprovalLists.Id)" >Reject</a></a></td> -->
              <td *ngIf="MyApprovalLists.AprovingStatus.Value==2"><span style="color: green; cursor: pointer;" (click)="ApproveTimeShift(MyApprovalLists.Id)">Approve</span>/<span style="color: red; cursor: pointer;"><span (click)="RejectPopup(MyApprovalLists.Id)" style=" cursor: pointer;" >Reject</span></span></td>
              <td *ngIf="MyApprovalLists.AprovingStatus.Value!=2">Done</td>
            </tr>
            </tbody>
            <tbody  *ngIf="length==0">
              <tr>
                <td colspan="7" class="no-data-available">No matching records found</td>
              </tr>
            <tbody>
        </table>

      </div>
      </div>


  </div>
</div>

