<div class="col">
  <div class="row my-row" >
    <div class="col my-col">
       <ul class="breadcrumb" style="background-color: transparent;">
        <li class="breadcrumb-item " >
            <span class="icon">
            <i class="fa fa-briefcase"></i></span>  
            <span class="heading" style="color: black; background-color: transparent;"> String Map List</span></li>
           
      </ul>
    </div>
<div class="col my-col">
  <div class="a">
      <ul class="breadcrumb" style="background-color: transparent;">
        <li class="breadcrumb-item"><a href="#">
          <i class="fa fa-home"></i> Home</a></li>
        <li class="breadcrumb-item"><a href="#"> String Map List</a></li>
      </ul>
  </div>
</div>
  </div>
  <div class="row my-row">
    <div class="col my-col1">
     String Map List Record
  </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Entity List <span style="padding-left: 950px;"><a routerLink="/dashboard/stringmap/save" style="color: black;"><i class="fa fa-plus-circle" ></i> New String Map</a></span>
  </div>
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Value</th>
          <th scope="col">Attribute Value</th>
          <th scope="col">Attribute Name</th>
          <th scope="col">Sort Order</th>
          <th scope="col">Object Type Code</th>
          <th scope="col">Is Master Entity</th>
          <th scope="col">Description</th>
          <th scope="col">Is Active</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          
        </tr>
        
       
      </tbody>
    </table>
    </div>
    </div>