<div *ngIf="status" class="alert alert-primary" role="alert">
  {{ message }}
  <i class="fa fa-times-circle" (click)="closeStatus()"  aria-hidden="true"></i>
   <!-- <a class="btn btn-primary" routerLink="/login">Go To Login Page</a> -->
</div>

<div class="col">
  <div class="row my-row" >
    <div class="col my-col">
       <ul class="breadcrumb" style="background-color: transparent;">
        <li class="breadcrumb-item " >
            <span class="icon">
            <i class="fa fa-briefcase"></i></span>  
            <span class="heading" style="color: black; background-color: transparent;"> Pick List</span></li>
           
      </ul>
    </div>
<div class="col my-col">
  <div class="a">
      <ul class="breadcrumb" style="background-color: transparent;">
        <li class="breadcrumb-item"><a routerLink="/dashboard">
          <i class="fa fa-home"></i> Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/dashboard/picklist/list"> Pick List</a></li>
        <li class="breadcrumb-item"><a routerLink="/dashboard/picklist/save"> Add Pick List</a></li>

      </ul>
  </div>
</div>
  </div>
  <div class="row my-row">
    <div class="col my-col1">
     Pick List  Record
  </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Pick List <span style="padding-left: 990px;"><a routerLink="/dashboard/picklist/save" ><i class="fa fa-plus-circle" ></i> New Pick List</a></span>
  </div>
  <div class="card-body" style="overflow-x: scroll;">
     
      <form class="form-inline">
        <div class="form-group mb-1">
          <label for="selectEntity">Select Entity</label>
        </div>
        <div class="form-group col-md-4" *ngIf="dropdownList?.length != 0" >
          <select class="custom-select"  id="selectEntity" (change)="getList($event)"> 
            <option value= "">Select any option</option>
            <option *ngFor="let dropdownLists of dropdownList" [value]="dropdownLists.ObjectTypeCode">{{dropdownLists.Name}}</option>
            
  
          </select>
        </div>
      </form><br>

    <table class="table table-bordered" *ngIf="stringMapList?.length != 0">
      <thead>
        <tr>
          <th scope="col">Entity</th>
          <th scope="col">PickList</th>
          <th scope="col" width="20%">Number Of Options</th>
          <th scope="col">Action</th>
          

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stringmaplist of stringMapList">
          <td>{{ stringmaplist.EntityName }}</td>
          <td>{{ stringmaplist.AttributeName }}</td>
          <td>{{ stringmaplist.CountStringMap}}</td>
          <td (click)="AddOrEditOrderItem(stringmaplist)"><u style="cursor: pointer;">Manage</u></td>
        </tr>
      </tbody>

      <tbody *ngIf="stringMapList == null">
        <tr>
          <td colspan="4" class="no-data-available">No matching records found</td>
        </tr>
      <tbody>

    </table>

    </div>