<section class="content-header z-depth-1">
  <div class="header-icon">
      <i class="fa fa-clock-o"></i>
  </div>
  <div class="header-title">
      <h1>Add Attendance</h1>
      <small>Add Attendance Record</small>
      <!--<ul class="link hidden-xs">
          <li><a href="index-2.html"><i class="fa fa-home"></i>Home</a></li>
          <li><a href="datatable.html">Add Attendance Record</a></li>
      </ul>-->
      <ul class="breadcrumb" style="background-color: transparent;">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i>  Home</a></li>
        <li class="breadcrumb-item"><a href="#">Add Attendance</a></li>
      </ul>
  </div>
</section>
<br><br>
<div class="card">
  <div class="card-header">
    Add Attendance
  </div>
  <div class="card-body">
    <form #form="ngForm" (submit)="onSubmit(form.value)" class="was-validated"> 
      <div class="form-group col-md-4">
        <label for="date">Date</label>
        <div class="form-group">
          <input type="date"  max="3000-12-31" #date="ngModel" [(ngModel)]="Addattendance.date" name="date" id="date" required
                min="1000-01-01" class="form-control">                                                              
                <div class="invalid-feedback" *ngIf="date.touched && date.invalid">
                  Date is required.
                </div>
        </div>
      </div><br>
      <!----table -->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Employee Name/Id</th>
            <th scope="col">In Time</th>
            <th scope="col">Out Time</th>
            <th scope="col">On Leave</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Employee 1</td>
            <td><input type="time" id="myTime" value="00:00"></td>
            <td><input type="time" id="myTime" value="00:00"></td>
            <td>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">No</label>
                </div>
            </td>
          </tr>
        
        </tbody>
      </table>
      <button type="button" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-primary" style="margin-left: 15px;">Submit</button>

    </form>
    </div>
    </div>