<div class="popup">
  <div class="card-body">
    <h3>New Sub Category</h3>
    <form #form="ngForm" (submit)="onSubmit(form.value)" class="was-validated">
      <div class="form-row">

        <div class="form-group col-md-6">
          <label for="categoryId">Category Id</label>
          <select class="custom-select"  #categoryId="ngModel" [(ngModel)]="SubCategory.categoryId" name="categoryId" id="categoryId" required>
            <option> 1</option>
          </select>
          <div class="invalid-feedback" *ngIf="categoryId.touched && categoryId.invalid">
            Category Id Is Required.
          </div>
        </div>

        <div class="form-group col-md-6">
          <label for="Name">Name</label>
          <input type="text" class="form-control" #Name="ngModel" [(ngModel)]="SubCategory.Name" name="Name" id="Name" required>
          <div class="invalid-feedback" *ngIf="Name.touched && Name.invalid">
            Name Is Required.
          </div>
        </div>

        <div class="form-group col-md-6">
          <label for="ApprovalRequired">Approval Required</label>
          <select class="custom-select"  #ApprovalRequired="ngModel" [(ngModel)]="SubCategory.ApprovalRequired" name="ApprovalRequired" id="ApprovalRequired" required>
            <option>1</option>
          </select>
          <div class="invalid-feedback" *ngIf="ApprovalRequired.touched && ApprovalRequired.invalid">
            Approval Required Is Required.
          </div>
        </div>

      </div>

      <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Save</button>

      <button type="button" class="btn btn-outline-dark ml-2" (click)="close()" ><i class="fa fa-close"></i> Close</button>

    </form>

  </div>
  </div>
