<div class="col">
  <div class="row my-row" >
    <div class="col my-col">
       <ul class="breadcrumb" style="background-color: transparent;">
        <li class="breadcrumb-item " >
            <span class="icon">
            <i class="fa fa-briefcase"></i></span>  
            <span class="heading" style="color: black; background-color: transparent;">My Attendance</span></li>
           
      </ul>
    </div>
<div class="col my-col">
  <div class="a">
      <ul class="breadcrumb" style="background-color: transparent;">
        <li class="breadcrumb-item"><a routerLink="/dashboard">
          <i class="fa fa-home"></i> Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/dashboard/myattendance">My Attendance</a></li>
        <li class="breadcrumb-item"><a routerLink="/dashboard/addattendance">Add Attendance</a></li>

      </ul>
  </div>
</div>
  </div>
  <div class="row my-row">
    <div class="col my-col1">
    My Attendance Record
  </div>
  </div>
</div>



<div class="card">
  <div class="card-header">
    My Attendance
  </div>
  <div class="card-body">
    <form class="was-validated">
      <div class="form-row">
      <div class="form-group col-md-4">
        <label for="employee">Employee</label>
        
        <select class="custom-select" #employee="ngModel" [(ngModel)]="Attendance.employee" name="employee" id="employee" required>
          <option selected>Selected</option>
          <option value="1">A</option>
          <option value="2">b</option>
          </select>
          <div class="invalid-feedback" *ngIf="year.touched && year.invalid">
            Year is required.
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="month">Month</label>
          
          <select class="custom-select" #month="ngModel" [(ngModel)]="Attendance.month" name="month" id="month" required> >
            <option selected>April</option>
            <option value="1">Jan</option>
            <option value="2">Feb</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>

            </select>
            <div class="invalid-feedback" *ngIf="month.touched && month.invalid">
              Month is required.
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="year">Year</label>
            
            <select class="custom-select" #year="ngModel" [(ngModel)]="Attendance.year" name="year" id="year" required>
              <option selected>2020</option>
              <option value="1">2019</option>
              <option value="2">2018</option>
              <option value="3">2017</option>
              <option value="4">2016</option>
              <option value="5">2015</option>
              </select>
              <div class="invalid-feedback" *ngIf="year.touched && year.invalid">
                Year is required.
              </div>
            </div>
        </div>
      </form>

      

      <div style="overflow-x: scroll;">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col" (click)="sortFilter(1)"># <i class={{sortIcon1}} aria-hidden="true"></i> </th>
          <th scope="col" (click)="sortFilter(2)">Date <i class={{sortIcon2}} aria-hidden="true"></i> </th>
          <th scope="col" (click)="sortFilter(3)">In Time <i class={{sortIcon3}} aria-hidden="true"></i> </th>
          <th scope="col" (click)="sortFilter(4)">Out Time <i class={{sortIcon4}} aria-hidden="true"></i> </th>
          <th scope="col" (click)="sortFilter(5)">Working Hours <i class={{sortIcon5}} aria-hidden="true"></i> </th>
          <th scope="col" (click)="sortFilter(6)">Status <i class={{sortIcon6}} aria-hidden="true"></i> </th>
          <th scope="col" (click)="sortFilter(7)">Options <i class={{sortIcon7}} aria-hidden="true"></i> </th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>25-05-2020</td>
          <td>10:00 AM</td>
          <td>05:00 PM</td>
          <td>7</td>
          <td>Done</td>
          <td>Done</td>
        </tr>
        <tr>
          <td>2</td>
          <td>26-05-2020</td>
          <td>10:00 AM</td>
          <td>05:00 PM</td>
          <td>7</td>
          <td>Done</td>
          <td>Done</td>
        </tr>


      </tbody>
      <tfoot>
        <tr>

        </tr>
      </tfoot>
      
         
    </table>
    </div><br>
    <button type="button"  class="btn btn-primary">Save</button>
    <button type="submit" class="btn btn-primary" style="margin-left: 15px;">Submit</button>
    
    
  </div>
</div>



