<div class="col">
  <div class="row my-row">
    <div class="col my-col">
      <ul class="breadcrumb" style="background-color: transparent;">
        <li class="breadcrumb-item ">
          <span class="icon">
            <i class="fa fa-clock-o"></i></span>
          <span class="heading" style="color: black; background-color: transparent;">Add SR</span></li>

      </ul>
    </div>
    <div class="col my-col">
      <div class="a">
        <ul class="breadcrumb" style="background-color: transparent;">
          <li class="breadcrumb-item"><a routerLink="/dashboard">
              <i class="fa fa-home"></i> Home</a></li>
          <li class="breadcrumb-item"><a routerLink="/dashboard/addsr">Add SR</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row my-row">
    <div class="col my-col1">
      <!-- ADD SR Record -->
    </div>
  </div>
</div>


<div class="card">
  <div class="card-header">
    Add SR
  </div>
  <div class="card-body">
    <form #form="ngForm" (submit)="onSubmit(form.value)" class="was-validated">
      <div class="form-row">
        
        <div class="form-group col-md-4">
          <label for="function">Function</label>
          <select class="custom-select" #function="ngModel" [(ngModel)]="Sr.function" name="function" id="function" required>
            <option *ngFor="let dropdownLists of dropDownListOfFunction" [value]="dropdownLists.Value">{{dropdownLists.Text}}</option>
          </select>
          <div class="invalid-feedback" *ngIf="function.touched && function.invalid">
            Function is required.
          </div>
        </div>


        <div class="form-group col-md-4">
          <label for="subFunction">Sub Function</label>
          <select class="custom-select" #subFunction="ngModel" [(ngModel)]="Sr.subFunction" name="subFunction"id="subFunction" required>
            <option *ngFor="let dropdownLists of dropDownListOfSubFunction" [value]="dropdownLists.Value">
              {{dropdownLists.Text}}</option>
          </select>
          <div class="invalid-feedback" *ngIf="subFunction.touched && subFunction.invalid">
            Subfunction is required.
          </div>
        </div>


        <div class="form-group col-md-4">
          <label for="priority">Priority</label>
          <select class="custom-select" #priority="ngModel" [(ngModel)]="Sr.priority" name="priority" id="priority"required>
            <option *ngFor="let dropdownLists of dropDownListOfPriority" [value]="dropdownLists.Value">{{dropdownLists.Text}}</option>
          </select>
          <div class="invalid-feedback" *ngIf="priority.touched && priority.invalid">
            Priority is required.
          </div>
        </div>


        <div class="form-group col-md-6">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" #description="ngModel" [(ngModel)]="Sr.description" name="description"
              id="description" rows="3" required></textarea>
            <div class="invalid-feedback" *ngIf="description.touched && description.invalid">
              Description is required.
            </div>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary" style="margin-left: 15px;">Submit</button>

    </form>

  </div>
</div>