<!-- <button (click)="showSuccess()">showSuccess</button><br/> -->
<!-- <section id="faclities">
  <div class="title">
    <h1>Users</h1>
    <p>a b c d</p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card-body">
        <p class="card-text">some quick</p>
        <hr>
        <a href="">More info</a>
      </div>
    </div>
  </div>
</section> -->
<div class="conten1">
  <h2>Current Income Summary</h2><br>
  <div class="card-group">
<div class="card " style="width: 10rem;">
  <div class="card-header">
    Total Sales

  </div>
  <ul class="list-group list-group-flush">
   <a routerLink=""> <li class="list-group-item">More Information   <i class="fa fa-arrow-circle-right"></i></li></a>
    <!-- <li class="list-group-item">Dapibus ac facilisis in</li> -->
    <!-- <li class="list-group-item">Vestibulum at eros</li> -->
  </ul>
</div>

<div class="card" style="width: 10rem; margin-left: 20px;">
  <div class="card-header">
    Total Expenditure

  </div>
  <ul class="list-group list-group-flush">
   <a routerLink=""> <li class="list-group-item">More Information   <i class="fa fa-arrow-circle-right"></i></li></a>
    <!-- <li class="list-group-item">Dapibus ac facilisis in</li> -->
    <!-- <li class="list-group-item">Vestibulum at eros</li> -->
  </ul>
</div>

<div class="card" style="width: 10rem; margin-left: 20px;">
  <div class="card-header">
    EBIT

  </div>
  <ul class="list-group list-group-flush">
   <a routerLink=""> <li class="list-group-item">More Information   <i class="fa fa-arrow-circle-right"></i></li></a>
    <!-- <li class="list-group-item">Dapibus ac facilisis in</li> -->
    <!-- <li class="list-group-item">Vestibulum at eros</li> -->
  </ul>
</div>

<div class="card" style="width: 10rem; margin-left: 20px;">
  <div class="card-header">
    Interest

  </div>
  <ul class="list-group list-group-flush">
   <a routerLink=""> <li class="list-group-item">More Information   <i class="fa fa-arrow-circle-right"></i></li></a>
    <!-- <li class="list-group-item">Dapibus ac facilisis in</li> -->
    <!-- <li class="list-group-item">Vestibulum at eros</li> -->
  </ul>
</div>

<div class="card" style="width: 10rem; margin-left: 20px;">
  <div class="card-header">
    Tax

  </div>
  <ul class="list-group list-group-flush">
   <a routerLink=""> <li class="list-group-item">More Information   <i class="fa fa-arrow-circle-right"></i></li></a>
    <!-- <li class="list-group-item">Dapibus ac facilisis in</li> -->
    <!-- <li class="list-group-item">Vestibulum at eros</li> -->
  </ul>
</div>
<div class="card" style="width: 10rem; margin-left: 20px;">
  <div class="card-header">
    Net Profit

  </div>
  <ul class="list-group list-group-flush">
   <a routerLink=""> <li class="list-group-item">More Information   <i class="fa fa-arrow-circle-right"></i></li></a>
    <!-- <li class="list-group-item">Dapibus ac facilisis in</li> -->
    <!-- <li class="list-group-item">Vestibulum at eros</li> -->
  </ul>
</div>
</div>
</div>
