<!-- <button (click)="showSuccess()">showSuccess</button><br/> -->
<!-- <section id="faclities">
  <div class="title">
    <h1>Users</h1>
    <p>a b c d</p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card-body">
        <p class="card-text">some quick</p>
        <hr>
        <a href="">More info</a>
      </div>
    </div>
  </div>
</section> -->
<div class="conten1">
  <h2>Current Income Summary</h2><br>
  <div class="card-group">
<div class="card " style="width: 10rem;">
  <div class="card-header">
    Total Sales

  </div>
  <ul class="list-group list-group-flush">
   <a routerLink=""> <li class="list-group-item">More Information   <i class="fa fa-arrow-circle-right"></i></li></a>
    <!-- <li class="list-group-item">Dapibus ac facilisis in</li> -->
    <!-- <li class="list-group-item">Vestibulum at eros</li> -->
  </ul>
</div>

<div class="card" style="width: 10rem; margin-left: 20px;">
  <div class="card-header">
    Total Expenditure

  </div>
  <ul class="list-group list-group-flush">
   <a routerLink=""> <li class="list-group-item">More Information   <i class="fa fa-arrow-circle-right"></i></li></a>
    <!-- <li class="list-group-item">Dapibus ac facilisis in</li> -->
    <!-- <li class="list-group-item">Vestibulum at eros</li> -->
  </ul>
</div>

<div class="card" style="width: 10rem; margin-left: 20px;">
  <div class="card-header">
    EBIT

  </div>
  <ul class="list-group list-group-flush">
   <a routerLink=""> <li class="list-group-item">More Information   <i class="fa fa-arrow-circle-right"></i></li></a>
    <!-- <li class="list-group-item">Dapibus ac facilisis in</li> -->
    <!-- <li class="list-group-item">Vestibulum at eros</li> -->
  </ul>
</div>

<div class="card" style="width: 10rem; margin-left: 20px;">
  <div class="card-header">
    Interest

  </div>
  <ul class="list-group list-group-flush">
   <a routerLink=""> <li class="list-group-item">More Information   <i class="fa fa-arrow-circle-right"></i></li></a>
    <!-- <li class="list-group-item">Dapibus ac facilisis in</li> -->
    <!-- <li class="list-group-item">Vestibulum at eros</li> -->
  </ul>
</div>

<div class="card" style="width: 10rem; margin-left: 20px;">
  <div class="card-header">
    Tax

  </div>
  <ul class="list-group list-group-flush">
   <a routerLink=""> <li class="list-group-item">More Information   <i class="fa fa-arrow-circle-right"></i></li></a>
    <!-- <li class="list-group-item">Dapibus ac facilisis in</li> -->
    <!-- <li class="list-group-item">Vestibulum at eros</li> -->
  </ul>
</div>
<div class="card" style="width: 10rem; margin-left: 20px;">
  <div class="card-header">
    Net Profit

  </div>
  <ul class="list-group list-group-flush">
   <a routerLink=""> <li class="list-group-item">More Information   <i class="fa fa-arrow-circle-right"></i></li></a>
    <!-- <li class="list-group-item">Dapibus ac facilisis in</li> -->
    <!-- <li class="list-group-item">Vestibulum at eros</li> -->
  </ul>
</div>
</div><br><br>

<div class="form-row">
<div class="form-group col-md-6">
  <app-graph></app-graph>
</div>
<div class="form-group col-md-6">
  <app-graph></app-graph>
</div>
</div>

</div>


<div class="content2">
  <h2>Current Balance Summary</h2><br>
  <div class="subcontent2">
    <h4>Assets</h4><br>
    <div class="card-group">
      <div class="card " style="width: 10rem;">
        <div class="card-header">
          Physical Assets

        </div>
        <ul class="list-group list-group-flush">
         <a routerLink=""> <li class="list-group-item">More Information   <i class="fa fa-arrow-circle-right"></i></li></a>
          <!-- <li class="list-group-item">Dapibus ac facilisis in</li> -->
          <!-- <li class="list-group-item">Vestibulum at eros</li> -->
        </ul>
      </div>

      <div class="card" style="width: 10rem; margin-left: 20px;">
        <div class="card-header">
          Pobara Inventory

        </div>
        <ul class="list-group list-group-flush">
         <a routerLink=""> <li class="list-group-item">More Information   <i class="fa fa-arrow-circle-right"></i></li></a>
          <!-- <li class="list-group-item">Dapibus ac facilisis in</li> -->
          <!-- <li class="list-group-item">Vestibulum at eros</li> -->
        </ul>
      </div>

      <div class="card" style="width: 10rem; margin-left: 20px;">
        <div class="card-header">
          Virtual Asset

        </div>
        <ul class="list-group list-group-flush">
         <a routerLink=""> <li class="list-group-item">More Information   <i class="fa fa-arrow-circle-right"></i></li></a>
          <!-- <li class="list-group-item">Dapibus ac facilisis in</li> -->
          <!-- <li class="list-group-item">Vestibulum at eros</li> -->
        </ul>
      </div>

      <div class="card" style="width: 10rem; margin-left: 20px;">
        <div class="card-header">
          Bank Balance

        </div>
        <ul class="list-group list-group-flush">
         <a routerLink=""> <li class="list-group-item">More Information   <i class="fa fa-arrow-circle-right"></i></li></a>
          <!-- <li class="list-group-item">Dapibus ac facilisis in</li> -->
          <!-- <li class="list-group-item">Vestibulum at eros</li> -->
        </ul>
      </div>

      <div class="card" style="width: 10rem; margin-left: 20px;">
        <div class="card-header">
          Cash Balance

        </div>
        <ul class="list-group list-group-flush">
         <a routerLink=""> <li class="list-group-item">More Information   <i class="fa fa-arrow-circle-right"></i></li></a>
          <!-- <li class="list-group-item">Dapibus ac facilisis in</li> -->
          <!-- <li class="list-group-item">Vestibulum at eros</li> -->
        </ul>
      </div>
      <div class="card" style="width: 10rem; margin-left: 20px;">
        <div class="card-header">
          Total Assets

        </div>
        <ul class="list-group list-group-flush">
         <a routerLink=""> <li class="list-group-item">More Information   <i class="fa fa-arrow-circle-right"></i></li></a>
          <!-- <li class="list-group-item">Dapibus ac facilisis in</li> -->
          <!-- <li class="list-group-item">Vestibulum at eros</li> -->
        </ul>
      </div>
      </div>

  </div><br>
  <div class="form-row">
    <div class="form-group col-md-6">
      <app-graph></app-graph>
    </div>
    <div class="form-group col-md-6">
      <app-graph></app-graph>
    </div>
    </div>
</div>

  <div class="subcontent3">
    <h4>Liabilities</h4><br>
    <div class="card-group">
      <div class="card " style="width: 10rem;">
        <div class="card-header">
          Loan

        </div>
        <ul class="list-group list-group-flush">
         <a routerLink=""> <li class="list-group-item">More Information   <i class="fa fa-arrow-circle-right"></i></li></a>
          <!-- <li class="list-group-item">Dapibus ac facilisis in</li> -->
          <!-- <li class="list-group-item">Vestibulum at eros</li> -->
        </ul>
      </div>

      <div class="card" style="width: 10rem; margin-left: 20px;">
        <div class="card-header">
          Creditor

        </div>
        <ul class="list-group list-group-flush">
         <a routerLink=""> <li class="list-group-item">More Information   <i class="fa fa-arrow-circle-right"></i></li></a>
          <!-- <li class="list-group-item">Dapibus ac facilisis in</li> -->
          <!-- <li class="list-group-item">Vestibulum at eros</li> -->
        </ul>
      </div>

      <div class="card" style="width: 10rem; margin-left: 20px;">
        <div class="card-header">
          Total Liabilities

        </div>
        <ul class="list-group list-group-flush">
         <a routerLink=""> <li class="list-group-item">More Information   <i class="fa fa-arrow-circle-right"></i></li></a>
          <!-- <li class="list-group-item">Dapibus ac facilisis in</li> -->
          <!-- <li class="list-group-item">Vestibulum at eros</li> -->
        </ul>
      </div>

      </div><br>


  <div class="form-row">
    <div class="form-group col-md-6">
      <app-graph></app-graph>
    </div>
    <div class="form-group col-md-6">
      <app-graph></app-graph>
    </div>
    </div>

</div>
