<div class="col">
  <div class="row my-row" >
    <div class="col my-col">
       <ul class="breadcrumb" style="background-color: transparent;">
        <li class="breadcrumb-item " >
            <span class="icon">
            <i class="fa fa-briefcase"></i></span>  
            <span class="heading" style="color: black; background-color: transparent;">Add Project</span></li>
           
      </ul>
    </div>
<div class="col my-col">
  <div class="a">
      <ul class="breadcrumb" style="background-color: transparent;">
        <li class="breadcrumb-item"><a routerLink="/dashboard">
          <i class="fa fa-home"></i> Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/dashboard/project/save">Add Project</a></li>
        <li class="breadcrumb-item"><a routerLink="/dashboard/project/list"> Project List</a></li>

      </ul>
  </div>
</div>
  </div> 
  <div class="row my-row">
    <div class="col my-col1">
    Add Project Record
  </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Add Project<span style="float: right;"><a routerLink="/dashboard/project/list" ><i class="fa fa-plus-circle" ></i> Project List</a></span>
  </div>
  <div class="card-body">
    <form  #form="ngForm" (submit)="onSubmit(form.value)" class="was-validated">  
      <div class="form-row">
        <div class="form-group col-md-6">

        <label for="value">Name</label>
        <input type="text" class="form-control" #name="ngModel" [(ngModel)]="Project.name" name="name" id="name" required>
        <div class="invalid-feedback" *ngIf="name.touched && name.invalid">
          Name is required.
        </div>

        </div>

        <div class="form-group col-md-12">

          <label for="shortDesc">Short Desc</label>
          <textarea class="form-control" rows="3" #shortDesc="ngModel" [(ngModel)]="Project.shortDesc" name="shortDesc" id="shortDesc" required ></textarea>
          <div class="invalid-feedback" *ngIf="shortDesc.touched && shortDesc.invalid">
            Short Desc is required.
          </div>
        </div>

        <div class="form-group col-md-3">
          <label for="periodStart">Period Start</label>
          <div class="form-group">
            <input type="date" #periodStart="ngModel" [(ngModel)]="Project.periodStart" name="periodStart" id="periodStart"  max="3000-12-31" 
                  min="1000-01-01" class="form-control" required>
                  <div class="invalid-feedback" *ngIf="periodStart.touched && periodStart.invalid">
                    Period Start  is required.
                  </div>      
          </div>
          </div>

          <div class="form-group col-md-3">
            <label for="periodEnd">Period End</label>
            <div class="form-group">
              <input type="date"  #periodEnd="ngModel" [(ngModel)]="Project.periodEnd" name="periodEnd" id="periodEnd"  max="3000-12-31" 
                    min="1000-01-01" class="form-control" required>
                    <div class="invalid-feedback" *ngIf="periodEnd.touched && periodEnd.invalid">
                      Period End  is required.
                    </div>
                  
            </div>
            </div>
            <div class="form-group col-md-3">
              <label for="primaryManagerId">Primary ManagerId</label>
              
              <select class="custom-select" #primaryManagerId="ngModel" [(ngModel)]="Project.primaryManagerId" name="primaryManagerId" id="primaryManagerId" required>
                <option selected>Select</option>
                <option value="1">Working Out Of Office</option>
                <option value="2">Work From Home</option>
                <option value="3">Attendance Modification</option>
                <option value="4">Earning Compensatory</option>
                <option value="5">Short Leave</option>
          
          
          
              </select>
              <div class="invalid-feedback" *ngIf="primaryManagerId.touched && primaryManagerId.invalid">
                Primary Manager Id  is required.
              </div>
            </div>
            <div class="form-group col-md-3">
              <label for="deliveryManagerId">Delivery ManagerId</label>
              
              <select class="custom-select" #deliveryManagerId="ngModel" [(ngModel)]="Project.deliveryManagerId" name="deliveryManagerId" id="deliveryManagerId" required>
                <option selected>Select</option>
                <option value="1">Working Out Of Office</option>
                <option value="2">Work From Home</option>
                <option value="3">Attendance Modification</option>
                <option value="4">Earning Compensatory</option>
                <option value="5">Short Leave</option>
          
          
          
              </select>
              <div class="invalid-feedback" *ngIf="deliveryManagerId.touched && deliveryManagerId.invalid">
                Delivery ManagerId is required.
              </div>
            </div>
            <!--<div class="form-group col-md-3">

              <label for="isMasterEntity">Primary Manager Id</label>
            <div style="position:relative">
              <input name="primaryManagerId" type="text" id="primaryManagerId" class="form-control ui-autocomplete-input" placeholder="Search" autocomplete="off">
              <span class="input-group-btn input-lookup">
                  <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
              </span>
          </div>
            </div>-->

            <!--<div class="form-group col-md-3">

              <label for="isMasterEntity">Delivery Manager Id</label>
              <div style="position:relative">
                <input name="deliveryManagerId" type="text" id="deliveryManagerId" class="form-control ui-autocomplete-input" placeholder="Search" autocomplete="off">
                <span class="input-group-btn input-lookup">
                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                </span>
              </div>
            </div>-->

           <!--<form class="form-inline active-cyan-3 active-cyan-4">

              <div style="position:relative">
           <label for="isMasterEntity">Primary Manager Id</label>




              <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
                aria-label="Search">
                <span class="input-group-btn input-lookup">
                  <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
              </span>
              </div>
            </form>


            <form class="form-inline active-cyan-3 active-cyan-4">

              <div style="position:relative">
                <label for="isMasterEntity">Delivery Manager Id</label>


            

              <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
                aria-label="Search">
                <span class="input-group-btn input-lookup">
                  <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
              </span>
              </div>
            </form>-->
            
      </div>
      <br><br>
                
                <div class="form-group col-md-16">
                  <label for="details">Details</label>

                  <ckeditor [editor]="Editor" data="<p>Details!!</p>" ></ckeditor>
                  <div class="invalid-feedback" *ngIf="deliveryManagerId.touched && deliveryManagerId.invalid">
                    Delivery ManagerId is required.
                  </div>

                 
                  
                  </div>
                  
                  



        
        <button type="submit" class="btn btn-primary">Save</button>

        </form>
        
        </div>
        </div>