<div class="col">
  <div class="row my-row" >
    <div class="col my-col">
       <ul class="breadcrumb" style="background-color: transparent;">
        <li class="breadcrumb-item " >
            <span class="icon">
            <i class="fa fa-briefcase"></i></span>  
            <span class="heading" style="color: black; background-color: transparent;">Add Project</span></li>
           
      </ul>
    </div>
<div class="col my-col">
  <div class="a">
      <ul class="breadcrumb" style="background-color: transparent;">
        <li class="breadcrumb-item"><a routerLink="/dashboard">
          <i class="fa fa-home"></i> Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/dashboard/project/save">Add Project</a></li>
        <li class="breadcrumb-item"><a routerLink="/dashboard/project/list"> Project List</a></li>

      </ul>
  </div>
</div>
  </div>
  <div class="row my-row">
    <div class="col my-col1">
    Add Project Record
  </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Add Project
  </div>
  <div class="card-body">
    <form>  
      <div class="form-row">
        <div class="form-group col-md-3">

        <label for="value">Name</label>
        <input type="number" class="form-control" id="schemaName" >

        </div>

        <div class="form-group col-md-3">

          <label for="logicalName">Short Desc</label>
          <input type="text" class="form-control" id="schemaName" >
        </div>

        <div class="form-group col-md-3">
          <label for="dateTo">Period Start</label>
          <div class="form-group">
            <input type="date"  id="dateTo" max="3000-12-31" 
                  min="1000-01-01" class="form-control" >
                  
          </div>
          </div>

          <div class="form-group col-md-3">
            <label for="dateTo">Period End</label>
            <div class="form-group">
              <input type="date"  id="dateTo" max="3000-12-31" 
                    min="1000-01-01" class="form-control" >
                  
            </div>
            </div>
            <!--<div class="form-group col-md-3">

              <label for="isMasterEntity">Primary Manager Id</label>
            <div style="position:relative">
              <input name="primaryManagerId" type="text" id="primaryManagerId" class="form-control ui-autocomplete-input" placeholder="Search" autocomplete="off">
              <span class="input-group-btn input-lookup">
                  <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
              </span>
          </div>
            </div>-->

            <!--<div class="form-group col-md-3">

              <label for="isMasterEntity">Delivery Manager Id</label>
              <div style="position:relative">
                <input name="deliveryManagerId" type="text" id="deliveryManagerId" class="form-control ui-autocomplete-input" placeholder="Search" autocomplete="off">
                <span class="input-group-btn input-lookup">
                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                </span>
              </div>
            </div>-->

            <form class="form-inline active-cyan-3 active-cyan-4">

              <div style="position:relative">
           <label for="isMasterEntity">Primary Manager Id</label>




              <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
                aria-label="Search">
                <span class="input-group-btn input-lookup">
                  <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
              </span>
              </div>
            </form>


            <form class="form-inline active-cyan-3 active-cyan-4">

              <div style="position:relative">
                <label for="isMasterEntity">Delivery Manager Id</label>


            

              <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
                aria-label="Search">
                <span class="input-group-btn input-lookup">
                  <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
              </span>
              </div>
            </form>
            
      </div>
      <br><br>
                
                <div class="form-group col-md-16">
                  <label for="isMasterEntity">Details</label>

                  <ckeditor [editor]="Editor" data="<p>Details!!</p>"></ckeditor>

                 
                  
                  </div>
                  
                  



        
        <button type="button" class="btn btn-primary">Save</button>

        </form>
        
        </div>
        </div>