<section class="content-header z-depth-1">
  <div class="header-icon">
      <i class="fa fa-clock-o"></i>
  </div>
  <div class="header-title">
      <h1>My Time Away Requests</h1>
      <small>My Time Away Requests Record</small>
      <ul class="link hidden-xs">
          <li><a href="index-2.html"><i class="fa fa-home"></i>Home</a></li>
          <li><a href="datatable.html">My Time Away Requests Record</a></li>
      </ul>
  </div>
</section>
<br><br>
<div class="card">
  <div class="card-header">
    My Time Away Requests
  </div>
  <div class="card-body">
    <form>
      <div class="form-row">
      <div class="form-group col-md-2">
        <label for="requestid">Request Id</label>
        
        <select class="custom-select" id="requestid">
          <option selected>All</option>
          <option value="1">A</option>
          <option value="2">B</option>

          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="type">Type</label>
          
          <select class="custom-select" id="type">
            <option selected>All</option>
            <option value="1">Working Out Of Office</option>
            <option value="2">Work From Home</option>
            <option value="3">Attendance Modification</option>
            <option value="4">Earning Compensatory</option>
            <option value="5">Short Leave</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            <label for="month">Month</label>
            
            <select class="custom-select" id="month">
              <option selected>Select</option>
              <option value="1">Jan</option>
              <option value="2">Feb</option>
              <option value="3">March</option>
              <option value="4">April</option>
              <option value="5">May</option>
              <option value="6">June</option>
              <option value="7">July</option>
              <option value="8">August</option>
              <option value="9">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
  
            </select>
            </div>

            <div class="form-group col-md-2">
              <label for="year">Year</label>
              
              <select class="custom-select" id="year">
                <option selected>Select</option>
                <option value="1">Jan</option>
                <option value="2">Feb</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
    
              </select>
              </div>

              <div class="form-group col-md-2">
                <label for="approvalstatus">Approval Status</label>
                
                <select class="custom-select" id="approvalstatus">
                  <option selected>Pending</option>
                  <option value="1">Working Out Of Office</option>
                  <option value="2">Work From Home</option>
                  <option value="3">Attendance Modification</option>
                  <option value="4">Earning Compensatory</option>
                  <option value="5">Short Leave</option>
                  </select>
                </div>

                <div class="form-group col-md-2">
                  <label for="hrstatus">Hr Status</label>
                  
                  <select class="custom-select" id="hrstatus">
                    <option selected>Pending</option>
                    <option value="1">Working Out Of Office</option>
                    <option value="2">Work From Home</option>
                    <option value="3">Attendance Modification</option>
                    <option value="4">Earning Compensatory</option>
                    <option value="5">Short Leave</option>
                    </select>
                  </div>
      </div>
      <button type="button" class="btn btn-danger">Filter</button>

    </form><br>
    <table class="table table-bordered">
      <thead>
        <tr class="table-header" >
          <th scope="col" >S.No.</th>
          <th scope="col">Request Id</th>
          <th scope="col">Requested By</th>
          <th scope="col">Approver</th>
          <th scope="col">Submit Date</th>
          <th scope="col">Approved Date</th>
          <th scope="col">Period</th>
          <th scope="col">Approver Status</th>
          <th scope="col">Hr Status</th>
          <th scope="col">Option</th>



        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

        </tr>
        <tr >
          <th scope="row" ></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>

        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    </div>
    </div>