<section class="content-header z-depth-1">
  <div class="header-icon">
      <i class="fa fa-briefcase"></i>
  </div>
  <div class="header-title">
      <h1>Add SR</h1>
      <small>Add SR Record</small>
      <ul class="link hidden-xs">
          <li><a href="index-2.html"><i class="fa fa-home"></i>Home</a></li>
          <li><a href="datatable.html">Add SR</a></li>
      </ul>
  </div>
</section>
<br><br>


<div class="card">
  <div class="card-header">
    Add SR
  </div>
  <div class="card-body">
    <div class="form">
      <div class="form-group col-md-4">
        <label for="function">Function</label>
        
        <select class="custom-select" id="function">
          <option selected>Select</option>
          <option value="1">Working Out Of Office</option>
          <option value="2">Work From Home</option>
          <option value="3">Attendance Modification</option>
          <option value="4">Earning Compensatory</option>
          <option value="5">Short Leave</option>
    
    
    
        </select>
      </div>

      <div class="form-group col-md-4">
        <label for="subfunction">Subfunction</label>
        
        <select class="custom-select" id="subfunction">
          <option selected>Select</option>
          <option value="1">Working Out Of Office</option>
          <option value="2">Work From Home</option>
          <option value="3">Attendance Modification</option>
          <option value="4">Earning Compensatory</option>
          <option value="5">Short Leave</option>
    
    
    
        </select>
      </div>
      <div class="form-group col-md-4">
        <label for="priority">Priority</label>
        
        <select class="custom-select" id="subfunction">
          <option selected>Select</option>
          <option value="1">Working Out Of Office</option>
          <option value="2">Work From Home</option>
          <option value="3">Attendance Modification</option>
          <option value="4">Earning Compensatory</option>
          <option value="5">Short Leave</option>
    
    
    
        </select>
      </div>
      <div class="form-group col-md-6">
        <div class="form-group">
          <label for="description">Description</label>

          <textarea class="form-control" id="exampleFormControlTextarea2" rows="3"></textarea>
        </div>

      </div>
      <button type="button" class="btn btn-primary" style="margin-left: 15px;">Submit</button>

    </div>
    
      </div>
      </div>