<body>
<div class="login">
  <h1>Login Here</h1>
  <form #f="ngForm" (ngSubmit)="login(f.value)">
    <p>Username</p>
    <input type="hidden" value="password"  name="grant_type" #grant_type="ngModel" [(ngModel)]="formData.grant_type">

    <input #userName="ngModel" [(ngModel)]="login.userName" name="userName" id="userName" type="text" placeholder="Enter Username">
    <div class="alert alert-danger" *ngIf="userName.touched && userName.invalid">
      Product Full Name is Required.
    </div>

    <p>Password</p>
    <input #password="ngModel" [(ngModel)]="login.password" name="password" id="password" type="Password" placeholder="Enter password">
    <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
      Product Full Name is Required.
    </div>

    <input [disabled]="!f.valid" type="submit" value="Login">
    <a href="#">Forget your password</a><br>
    <a href="#">Don't have an account</a>
  </form>
</div>
</body>


