<section class="content-header z-depth-1">
  <div class="header-icon">
      <i class="fa fa-table"></i>
  </div>
  <div class="header-title">
      <h1>ATTENDANCE</h1>
      <small>Attendance Record</small>
      <ul class="link hidden-xs">
          <li><a href="index-2.html"><i class="fa fa-home"></i>Home</a></li>
          <li><a href="datatable.html">data table</a></li>
      </ul>
  </div>
</section>

<br><br>


<div class="card">
  <div class="card-header">
    Abhay Sahu
  </div>
  <div class="card-body">

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
    
    
  </div>
</div>



