.employeeList{
    background-color: lightblue;
    font-size: 18px;
    color: white;
}

.dataTables_filter, .dataTables_info { display: none; }

td{
    border: 1px solid  black;
    padding: 8px;
}

th{
    background-color: cadetblue;
}

/*tr:nth-child(even){background-color: #f2f2f2;}
tr:nth-child(odd){background-color:  white;}*/



tr:hover {background-color: #ddd;}
