<section class="content-header z-depth-1">
  <div class="header-icon">
      <i class="fa fa-table"></i>
  </div>
  <div class="header-title">
      <h1>ATTENDANCE</h1>
      <small>Attendance Record</small>
      <ul class="link hidden-xs">
          <li><a href="index-2.html"><i class="fa fa-home"></i>Home</a></li>
          <li><a href="datatable.html">My Attendance</a></li>
      </ul>
  </div>
</section>




<br><br>


<div class="card">
  <div class="card-header">
    My Attendance
  </div>
  <div class="card-body">
    <label for="start"><strong>Month</strong></label>

      <input type="month" id="start" name="start"
       min="2018-03" value="2020-05">  
        <button type="button" class="btn btn-info" style="margin-left: 10px;" >Search</button>


    <table class="table table-striped table-bordered">
      <thead>
        <!--<tr>
          <th colspan="1" rowspan="2">NAME</th>
          <th colspan="2">HR Information</th>
          <th colspan="3">Contact</th>

        </tr>-->

        <tr>
          <th>#</th>
          <th>Date</th>
          <th>In Time</th>
          <th>Out Time</th>
          <th>Working Hours</th>
          <th>Status</th>
          <th>Options</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Abc</td>
          <td>Abc</td>
          <td>Abc</td>
          <td>Abc</td>
          <td>Abc</td>
          <td>Abc</td>

        </tr>
        <tr>
          <td>Abc</td>
          <td>Abc</td>
          <td>Abc</td>
          <td>Abc</td>
          <td>Abc</td>
          <td>Abc</td>

        </tr>


      </tbody>
      <tfoot>
        <tr>

        </tr>
      </tfoot>
      
         
    </table>
    
    
  </div>
</div>



