
<section class="content-header z-depth-1">
  <div class="header-icon">
      <i class="fa fa-table"></i>
  </div>
  <div class="header-title">
      <h1>EMPLOYEE LIST</h1>
      <small>EMPLOYEE RECORD</small>
      <ul class="link hidden-xs">
          <li><a href="index-2.html"><i class="fa fa-home"></i>Home</a></li>
          <li><a href="datatable.html">data table</a></li>
      </ul>
  </div>
</section>

<br><br>
 
<div class="card">
  <div class="card-header">
    Employee List
  </div>
  <div class="card-body">

<div>
  <table class="content" datatable [dtOptions]="dtOptions"  style="width:100%">
    <thead>
      <tr>
        <th>Emp Code</th>
        <th>Employee Name</th>
        <th>Designation</th>
        <th>Employment Status</th>
        <th>Job Ttile</th>
        <th>Location</th>
        <th>Departments</th>
        <th>Action</th>
        
      </tr>
    </thead>
    <tbody *ngIf="persons?.length != 0">
        <tr *ngFor="let person of persons">
            <td>{{ person.id }}</td>
            <td>{{ person.firstName }}</td>
            <td>{{ person.lastName }}</td>
            <td>{{ person.id }}</td>
            <td>{{ person.firstName }}</td>
            <td>{{ person.lastName }}</td>
            <td>{{ person.id }}</td>
            <td>{{ person.firstName }}</td>
        </tr>
    </tbody>
    <tbody *ngIf="persons?.length == 0">
      <tr>
        <td colspan="3" class="no-data-available">No data!</td>
      </tr>
    <tbody>

      <tfoot>
        <tr>
          <th><input type="text" class="search" placeholder="Search ID" name="search-id"/></th>
          <th><input type="text" class="search" placeholder="Search first name" name="search-first-name"/></th>
          <th><input type="text" class="search" placeholder="Search last name" name="search-last-name"/></th>
          <th><input type="text" class="search" placeholder="Search ID" name="search-id"/></th>
          <th><input type="text" class="search" placeholder="Search first name" name="search-first-name"/></th>
          <th><input type="text" class="search" placeholder="Search last name" name="search-last-name"/></th>
          <th><input type="text" class="search" placeholder="Search ID" name="search-id"/></th>
          <th><input type="text" class="search" placeholder="Search first name" name="search-first-name"/></th>
          
        </tr>
      </tfoot>

  </table>


</div>
</div>
</div>
