h1{
    color: blue;
}

input{
    box-shadow:inset 0 0 1px 1px #888;

}

select{
    box-shadow:inset 0 0 1px 1px #888;

}

.a1{
    background-color: lightblue;
    font-size: 20px;
    color: white;
}