<div class="col-sm-6 m">
  <div class="box">
  <i class="fa fa-frown-o f"></i>
  <h2>Sorry, Page Not Found</h2>
  <p>The page you followed probably broken, or has been removed</p>
  <form class="" >
    <div class="input-group">
     <!--- <input type="text" class="form-control" placeholder="Search Here">-->
      <!--<span class="input-group-addon"><i class="fa fa-search"></i></span>-->

    </div>
  </form>
  <a routerLink="/dashboard"><button class="btn btn-info">Return To Home</button></a>
</div>
</div>