<table>
  <thead><tr><td>
    <div class="header-space"></div>
  </td></tr></thead>
  <tbody><tr><td>
    <div class="content">
      <h1>abhay sahu</h1>
      <h1>abhay sahu</h1>
      


      <button type="button" (click)="onPrint()" class="btn btn-primary"><i class="fa fa-check"></i>Print Me</button>
      <button style="margin-left: 10px;" type="button" class="btn btn-danger" (click)="close()" ><i class="fa fa-close"></i> Close</button>
    </div>
  </td></tr></tbody>
  <tfoot><tr><td>
    <div class="footer-space"></div>
  </td></tr></tfoot>
</table>


<div class="header">COOL HEADER</div>
<div class="footer">AWESOME FOOTER</div>



<!-- 
 <button (click)="onPrint()">Print me</button>
<div class="printMe">
  This is all that should print! But I get the mat-tab-group too.
</div> -->